@page "/"
@using KanesKitchenClient.Localization
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<HomeResource> resource

<PageTitle>Home</PageTitle>
<AuthorizeView Roles="User, Admin">
    <Authorized>
        <p>@resource["Name"]: @context.User.Identity.Name </p>
        <AuthorizeView Roles="User" Context="innerContext">
            <p>@resource["UserMessage"]</p>
        </AuthorizeView>
        <AuthorizeView Roles="Admin" Context="innerContext">
            <p>@resource["AdminMessage"]</p>
        </AuthorizeView>
    </Authorized>
    <NotAuthorized>
        <p>@resource["UnauthorizedMessage"]</p>
    </NotAuthorized>
</AuthorizeView>

